.greenBackground {
	background-color: green !important;
}
.redBackground {
	background-color: red !important;
}

.Quadrat {
	border: 1px black solid;
	width: 37px;
	height: 35px;
	border-radius: 3px;
}

.SchriftgroesseKlein{
	font-size:13px;
}
